<div class="findTestsResults">
    <div class="findTestsResult-contents">
		<span class="test-name">{{testName}}</span> <span class="test-partial-summary">{{testSumm}}</span>
		<button class="test-information" value={{test_id}} type="submit" onclick="location.href='/testInformation'">Take Test</button>
    </div>
</div>