<div class="findTestsResults">
    <div class="findTestsResult-contents">
		<span class="test-name">{{name}}</span> <span class="test-partial-summary">{{summary}}</span>
		<button class="test-information" type="submit" onclick="location.href='/testInformation/{{test_ID}}'">Take Test</button>
    </div>
</div>