
<div class="Question-Listed-Container" style="background-color: #{{questionHexCode}};">
	<span class="Question-Number-Span">Question #{{questionNum}}</span>
	<button type="submit" class="delete-question-button" value="{{question_id}}">Delete</button>
</div>

