<div class="Your-Tests-Results-Outer">
    <div class="Your-Tests-Results-Inner">
		<span class="test-name">{{name}}</span> <span class="test-partial-summary">{{summary}}</span>
		<button class="Manage-Test-Button" value={{test_ID}} type="submit">Manage</button>
    </div>
</div>