<div class="Your-Tests-Results-Outer">
    <div class="Your-Tests-Results-Inner">
		<span class="test-name">{{testName}}</span> <span class="test-partial-summary">{{testSumm}}</span>
		<button class="Manage-Test-Button" value={{test_id}} type="submit">Manage</button>
    </div>
</div>