<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Color Testing</title>

    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>

  </head>

  <body>
      <header>
        <h1 class="site-title"><a href="#">Color Testing</a></h1>
      </header>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/findtests">Find Tests</a>
        <a href="/color">Color Information</a>
        
      </div>


      {{{body}}}

  </body>
</html>
