<script src="/colorsearcher.js" charset="utf-8" defer></script>

<div class="page-title">
	<span>Color Search</span>
</div>

<div class="page-content">
	
	<div class="search-container">
		<input type="text" id="searchbox" placeholder="Search.." name="search">
		<button type="submit" id="searchsubmit">Submit</button>
	</div>
	
</div>