{{!-- 
verifyNewAccout.js
class: Create-Account-Container
id: Create-Account-Button
id: Modal-Backdrop
id: Create-Error-Modal
class: Modal-Error-UserExists-Dialog
class: Modal-Header
class: Modal-Error-UserAndPassword-Dialog
class: "Modal-Exit-Button
 --}}
<script src="./verifyNewAccount.js" charset="utf-8" defer></script>
<div class="Page-Title">
	Log in
</div>

<div class="Page-Content">
    <div class="Create-Account-Container">
        <Label for="Useranme"><b>Username</b></Label>
        <input type="text" id="Username-Input" placeholder="Enter username...">
        
        <Label for="Password"><b>Password</b></Label>
        <input type="text" id="Password-Input" placeholder="Enter password...">
        
        <button type="create" id="Create-Accont-Button"></button>
    </div>
</div>
{{!-- Create different modals for different errors --}}
<div id="Modal-Backdrop" class="hidden"></div>
<div id="Create-Error-Modal" class="hidden">
    {{!-- username exists --}}
    <div class="Modal-Error-UserExists-Dialog">
        <div class="Modal-Header">
            <h3>Error: Username already exists!</h3>
        </div>
    </div>
    <div class="Modal-Error-UserAndPassword-Dialog">
        <div class="Modal-Header">
            <h3>Error: Username or password are invalid!</h3>
        </div>
    </div>
    <div class="Modal-Footer">
        <button type="button" class="Modal-Exit-Button">Exit</button>
    </div>
</div>