{{!-- 
verifyNewAccout.js
class: Create-Account-Container
id: Create-Account-Button
id: Modal-Backdrop
id: Create-Error-Modal
class: Modal-Error-UserExists-Dialog
class: Modal-Header
class: Modal-Error-UserAndPassword-Dialog
class: "Modal-Exit-Button
 --}}
<script src="./verifyNewAccount.js" charset="utf-8" defer></script>
<div class="page-title">
	<span>Create an account</span>
</div>

<div class="page-content">
    <div class="create-account-container">
        <Label for="useranme"><b>Username</b></Label>
        <input type="text" id="username-input" placeholder="Enter username...">
        
        <Label for="password"><b>Password</b></Label>
        <input type="text" id="password-input" placeholder="Enter password...">
        
        <button type="create" id="create-account-button">Create</button>
    </div>
</div>
{{!-- Create different modals for different errors --}}
<div id="modal-backdrop" class="hidden"></div>
<div id="create-error-modal" class="hidden">
    {{!-- username exists --}}
    <div class="modal-error-user-exists-dialog">
        <div class="modal-header">
            <h3>Error: Username already exists!</h3>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="modal-exit-button">Exit</button>
    </div>
</div>

<div id="create-error-modal" class="hidden">
    {{!-- username exists --}}
    <div class="modal-error-user-and-password-dialog">
        <div class="modal-header">
            <h3>Error: Username or password are invalid!</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-exit-button">Exit</button>
    </div>
</div>