<script src="/editaccount.js" charset="utf-8" defer></script>

<div class="page-title">
	<span>Edit Account</span>
</div>

<div class="page-content">
	
	<div class="search-container">
		<input type="text" id="newusernamebox" placeholder="New Username..">
        <button type="submit" name="newusern" id="newusernamesubmit">Submit</button>
        <input type="text" id="newpasswordbox" placeholder="New Password..">
		<button type="submit" name="newpswrd" id="newpasswordsubmit">Submit</button>
		<button type="submit" id="delete-user-button" value="">Delete Account</button>
	</div>
	
</div>