<script src="./findtests.js" charset="utf-8" defer></script>

<div class="page-title">
	<h1>
		Find Tests
	</h1>
</div>

<div class="page-content">

	<div class="find-color-selection">

		<span>Contains color: </span><input type="color" class="color-search-input-box"></input>
		<span>Name contains text: </span><input class="title-search-input-box" type="text"></input>
		<span>Summary contains text: </span><input class="summary-search-input-box" type="text"></input>

		<button type="button" class="find-tests-button">Search</button>

	</div>
	<section id="find-tests-results">
		{{#each findTest}}
			{{> findTestsInfoTemplate}}
		{{/each}}
	</section>

</div>
