<script src="./findtests.js" charset="utf-8" defer></script>

<div class="Page-Title">
	<h1>
		Find Tests
	</h1>
</div>

<div class="Page-Content">

	<div class="Find-color-selection">

		<span>Contains color: </span><input type="color" class="color-search-input-box"></input>
		<span>Name contains text: </span><input class="title-search-input-box" type="text"></input>
		<span>Summary contains text: </span><input class="summary-search-input-box" type="text"></input>

		<button type="button" class="find-tests-button">Search</button>

	</div>
	<section id="find-tests-results">
		{{#each findTest}}
			{{> findTestsInfoTemplate}}
		{{/each}}
	</section>

</div>

<!-- ========================================================================================= -->

<style>

.Page-Content {
	border: 10px solid black;
	border-top: 0;
	background-color: lightgray;
	height: 85%;
}

.Find-color-selection {
	font-size: 20px;
	padding: 10px;
}

#find-tests-results {
	display: grid;
}

</style>
