{{!-- 
verifyNewAccout.js
class: Login-Container
id: Login-Button
id: New-Account-Button
id: Modal-Backdrop
id: Create-Login-Error-Modal
class Modal-Error-Dialog
class: Modal-Header
class: Modal-Footer
class: Modal-Exit-Button
 --}}
<script src="./verifyNewAccount.js" charset="utf-8" defer></script>
<div class="page-title">
	<span>Login</span>
</div>

<div class="page-content">
    <div class="login-container">
        <Label for="useranme"><b>Username</b></Label>
        <input type="text" id="username-input" placeholder="Enter username...">
        
        <Label for="password"><b>Password</b></Label>
        <input type="text" id="password-input" placeholder="Enter password...">
        
        <button type="login" id="login-button"></button>

        <label type="checkbox" checked="checked" name="remember">Remember me</label>

        <button type="new-account" id="new-account-button"></button>

    </div>
</div>
{{!-- Display a modal if the user gets the username or password wrong --}}
<div id="modal-backdrop" class="hidden"></div>
<div id="create-login-error-modal" class="hidden">
    <div class="modal-error-dialog">
        <div class="modal-header">
            <h3>Error: username or password is incorrect!</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-exit-button">Exit</button>
    </div>
</div>