<!-- <link rel="stylesheet" type="text/css" href="../../CSS/question.css"> -->

<div class="question">
  <div class="answer" id="colorGreen" >Green</div>
  <div class="answer" id="colorYellow">Yellow</div>
  <div class="answer" id="colorRed"   >Red</div>
  <div class="answer" id="colorBlue"  >Blue</div>
  <div class="answer" id="colorOrange">Orange</div>

  <button name="submit" class="submit-button">Submit Answer</button>
</div>

