<script src="/testinformation.js" charset="utf-8" defer></script>

<div class="page-title">
	<span>Test Information</span>
</div>

<div class="page-content">

	<div class="test-name-container">
		<span class="test-name-span">{{testName}}</span>
	</div>
	
	<div class="test-summary-container">
		<span class="test-summary-span">{{testSummary}}</span>
	</div>
	
	<div class="question-container">
		<section id="list-of-questions">
			{{#each allQuestions}}
				{{> questionListedTemplate}}
			{{/each}}
		</section>
	</div>

</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="answer-question-modal" class="hidden">
  <div class="modal-dialog">

	<div class="modal-header">
	  <span id="question-number-span">Question #</span>
	  <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
	</div>

	<div class="modal-body">
	
		<div class="Question-header-container">
			<span>What is this color?</span>
			<div id="color-container" style="background-color:#ff0000; width: 100px; height: 100px;">
			</div>
		</div>

		<div class="question">
		  <div class="answer answer-selected" id="colorRed"   >Red</div>
		  <div class="answer" id="colorOrange">Orange</div>
		  <div class="answer" id="colorYellow">Yellow</div>
		  <div class="answer" id="colorGreen" >Green</div>
		  <div class="answer" id="colorBlue"  >Blue</div>
		  

		  <button name="submit" class="submit-button" id="submit-button">Submit Answer</button>
		</div>

	</div>

  </div>
</div>